{% extends 'Home/base.html' %}

{% load static %}


{% block title %}
	<title>New Code</title>
{% endblock %}


{% block page_header %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">New Code</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'codes:account_code_request' %}">New Code</a></li>
              <li class="breadcrumb-item active">New Code</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
		    		<div class="container-fluid">
				        <div class="row">
				        	<div class="col-md-12">
				            	<div class="card card-primary">
					            	<div class="card-header">
					                	<h3 class="card-title">Create Code Batch</h3>
					            	</div>
					            	
			                		<form method="POST">
					            		{% csrf_token %}
				                			
			                			<div class="card-body">
						                  	<!-- batch number -->
						                  	<div class="form-group">
						                  		<label for="id_batch_number">Batch Number</label>
						                  		<input type="text" name="code_batch_number" class="form-control" required="true">
						                  	</div>

						                  	<!-- number of codes -->
						                  	<div class="form-group">
						                  		<label for="id_number_of_codes">Number of Codes</label>
						                  		<input type="number" name="number_of_codes" class="form-control" required="true">
						                  	</div>

						                  	<!-- amount per code -->
						                  	<div class="form-group">
						                  		<label for="id_amount_per_code">Amount per Code</label>
						                  		<input type="number" name="amount_per_code" class="form-control" required="true">
						                  	</div>

						                  	<!-- expiry date -->
						                  	<div class="form-group">
							                  	<label>Expiry Date</label>
							                    <div class="input-group date" id="expiryDate" data-target-input="nearest">
							                        <input type="datetime" class="form-control datetimepicker-input" id="id_expiry_date" name="expiry_date" data-target="#expiryDate" required/>
							                        <div class="input-group-append" data-target="#expiryDate" data-toggle="datetimepicker">
							                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
							                        </div>
							                    </div>
							                </div>
					                	</div>
						                
						                <div class="card-footer">
						                	<button type="submit" class="btn btn-primary">Create</button>
						                </div>
				            		</form>
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="col-md-8">
        	<div class="card card-primary">
            	<div class="card-header">
                	<h3 class="card-title">Code Batches</h3>
            	</div>
            	<!-- /.card-header -->

            	<div class="card-body">
            		{% if all_code_groups %}
					    <div class="table-responsive col-md-12">
				    		<table class="table m-0">
				        		<thead>
						            <tr>
						            	<th>#</th>
						            	<th>Group</th>
						            	<th>Date Created</th>
						            	<th>Download</th>
						            	<th>Status</th>
						            </tr>
					            </thead>
					            <tbody>
					            	{% for group in all_code_groups %}
							            <tr>
							            	<td>{{forloop.counter}}</td>
							            	<td><a href="{% url 'codes:code_group_codes' group.slug %}">{{group}}</a></td>
							            	<td>{{group.date_created}}</td>
							            	<td>
							            		<a href="{% url 'codes:batch_sheet_download' group.slug %}">
							            			<button class="btn btn-sm btn-primary">
							            				<i class="fas fa-download"></i>
							            			</button>
							            		</a>
							            	</td>
							            	{% if group.status %}
								            	<td>
								            		<span class="badge badge-success">
								            			Available
								            		</span>
								            	</td>
								            {% else %}
								            	<td>
								            		<span class="badge badge-danger">
								            			N/A
								            		</span>
								            	</td>
								            {% endif %}
							            </tr>
							        {% endfor %}
					            </tbody>
				        	</table>
					    </div>
				   {% else %}
			        	<h3>No Batches Yet</h3>
			        {% endif %}
            	</div>
                <!-- /.card-body -->
                
                <div class="card-footer">
                	<button type="submit" class="btn btn-primary">Check Batches</button>
                </div>
        	</div>
		</div>
	</div>
{% endblock %}
