{% extends 'Home/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
  <title>Users</title>
{% endblock %}

{% block page_header %}
  {% if user.is_staff %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Users</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'accounts:account_users_wallet' %}">Users</a></li>
                <li class="breadcrumb-item active">Users</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
  {% else %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">User</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'accounts:account_users_wallet' %}">User</a></li>
                <li class="breadcrumb-item active">User</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card callout callout-info">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-user"></i>
              Users
            </h3>
          </div>
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              {% for message in messages %}
                <div class="alert alert-success">
                  <button class="close" data-dismiss="alert">×</button>
                  {{ message }}
                </div>
              {% endfor %}
              <table id="user_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>S/N</th>
                  <th>Referrence ID</th>
                  <th>Username</th>
                  <th>Balance</th>
                  <th>Last updated</th>
                  <th>HM</th>
                  <th>BG</th>
                  <th>SV</th>
                  <th>CS</th>
                  <th>AC</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                {% for a_user in users %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{a_user.profile.reference_id}}</td>
                    <td>{{a_user.username}}</td>
                    <td>&#8358; {{ a_user.wallet.wallet_balance }}</td>
                    <td>{{a_user.last_updated | naturaltime}}</td>
                    <form method="post">
                      {% csrf_token %}
                      <td>
                        <input type="checkbox" {% if a_user.is_home %} checked {% endif %} name="home">
                      </td>
                      <td>
                        <input type="checkbox" {% if a_user.is_blog %} checked {% endif %} name="blog">
                      </td>
                      <td>
                        <input type="checkbox" {% if a_user.is_services %} checked {% endif %} name="services">
                      </td>
                      <td>
                        <input type="checkbox" {% if a_user.is_codes %} checked {% endif %} name="codes">
                      </td>
                      <td>
                        <input type="checkbox" {% if a_user.is_account %} checked {% endif %} name="account">
                      </td>
                      <td>
                        <button type="submit" class="btn btn-primary btn-sm">
                          <i class="fas fa-save"></i>
                        </button>
                      </td>
                      <td style="display: none;">
                        <input type="text" name="username" value="{{a_user.username}}">
                      </td>
                    </form>
                  </tr>
                {% endfor %}
              </tbody>
              </table>
              <div class="row">
                  <div class="col-md-12 float-sm-right">
                      <label class="float-sm-right">Total Balance <b>&#8358; {{total_amount}}</b></label>
                  </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script>
        $(function () {
            $("#user_table").DataTable({
                "responsive": true,
                "autoWidth": false,
                "bDestroy": true
            });
        });
    </script>
{% endblock %}
