{% extends 'Home/base.html' %}


{% block title %}
	<title>Code</title>
{% endblock %}

{% block page_header %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Code</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home:account_code' %}">Code</a></li>
              <li class="breadcrumb-item active">Code</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col connectedSortable">
			<div class="card">
				<div class="card-header border-transparent">
			        <h3 class="card-title">{{code.code_group}} / {{code.code}}</h3>
			  	</div>

			    <div class="card-body p-0">
				    <div class="table-responsive">
			    		<table class="table m-0">
			        		<thead>
					            <tr>
					            	<th>ID</th>
					            	<th>Code</th>
					            	<th>Amount</th>
					            	<th>Status</th>
					            	<th>Date Issued</th>
					            	<th>Expiry Date</th>
					            </tr>
				            </thead>
				            <tbody>
				            	{% if all_codes %}
						            <tr>
						            	<td>1</td>
						            	<td>{{code.code}}</td>
						            	<td>&#8358; {{code.amount}}</td>
						            	{% if code.status %}
							            	<td>
							            		<span class="badge badge-success">
							            			A
							            		</span>
							            	</td>
							            {% else %}
						            		<td>
						            			<span class="badge badge-danger">
						            				N/A
						            			</span>
						            		</td>
						            	{% endif %}
						            	<td>{{code.date_created}}</td>
						            	<td>{{code.expiry_date}}</td>
						            </tr>
						        {% endif %}
				            </tbody>
			        	</table>
				    </div>
			    </div>

			    <div class="card-footer clearfix">
			    	<div class="row">
			    		<div class="col">
			    			<a href="{% url 'Home:account_code_request' %}" class="btn btn-sm btn-info">Generate New Code</a>
			    		</div>
			    		<div class="col">
			    			 <a href="{% url 'Home:account_code' %}" class="btn btn-sm btn-secondary">View All Codes</a>
			    		</div>
			    		<div class="col">
			        		<a href="{% url 'Home:account_code_delete' code.id %}" class="btn btn-sm btn-danger float-right">Delete Code</a>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}
