{% extends 'Home/base.html' %}

{% load static %}


{% block title %}
	<title>Settings</title>
{% endblock %}

{% block extra_styles %}
	<!-- summernote -->
	<link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.css">
{% endblock %}

{% block page_header %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Settings</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home:site_settings' %}">Settings</a></li>
              <li class="breadcrumb-item active">Settings</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block main_content %}
	<div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
              <div class="inner">
                  <h3>{{all_codes_count}}</h3>
                  <p>Codes</p>
              </div>
            <div class="icon">
              <i class="ion fas fa-gifts"></i>
            </div>
            <a href="{% url 'codes:account_code' %}" class="small-box-footer">More info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>&#8358; {{total_amount}}</h3>
              <p>Total Balance</p>
            </div>
            <div class="icon">
              <i class="ion fas fa-wallet"></i>
            </div>
            <a href="{% url 'accounts:account_users_wallet' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-12">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{all_customers}}</h3>
              <p>Users</p>
            </div>
            <div class="icon">
              <i class="ion fas fa-user"></i>
            </div>
            <a href="{% url 'accounts:account_users_wallet' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
    </div>

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-8 connectedSortable">
			{% for message in messages %}
		        <div class="alert alert-warning">
		            <a class="close" href="#" data-dismiss="alert">×</a>
		            {{ message }}
		        </div>
		    {% endfor %}
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Settings</h3>
				</div>

				<form method="post">
					{% csrf_token %}

					<div class="card-body">
						<div class="row border-bottom" style="padding-top: 1rem;">
							<div class="col-sm-12">
								<label>Customer rate</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-receipt"></i></span>
									</div>
									<input type="number" name="customer_rate" class="form-control" placeholder="Customer rate" value="{{get_setting.customer_rate}}" required>
								</div>
							</div>
						</div>
						
						<div class="row border-bottom" style="padding-top: 1rem;">
							<div class="col-sm-3">
								<label>Minimum Withdrawal</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-wallet"></i></span>
									</div>
									<input type="number" name="minimum_withdrawal" class="form-control" placeholder="Minimum Withdrawal"
									value="{{get_setting.minimum_withdrawal}}" required>
								</div>
							</div>

							<div class="col-sm-3">
								<label>Minimum Airtime</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-wallet"></i></span>
									</div>
									<input type="number" name="minimum_airtime" class="form-control" placeholder="Minimum Airtime"
									value="{{get_setting.minimum_airtime}}" required>
								</div>
							</div>
							
							<div class="col-sm-3">
								<label>Minimum Data</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-wallet"></i></span>
									</div>
									<input type="number" name="minimum_data" class="form-control" placeholder="Minimum Data"
									value="{{get_setting.minimum_data}}" required>
								</div>
							</div>

							<div class="col-sm-3">
								<label>Data charges</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-wallet"></i></span>
									</div>
									<input type="number" name="data_charges" class="form-control" placeholder="Data charges" value="{{ get_setting.data_charges }}" required>
								</div>
							</div>
						</div>
						
						<div class="row border-bottom" style="padding-top: 1rem;">
							<div class="col-6">
								<label>Call Contact</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-phone"></i></span>
									</div>
									<input type="text" maxlength="13" name="call_contact" class="form-control" placeholder="Call Contact"
									value="{{get_setting.call_contact}}" required>
								</div>
							</div>

							<div class="col-6">
								<label>WhatsApp Contact</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><span><i class="fab fa-whatsapp"></i></span>
									</div>
									<input type="text" maxlength="13" name="whatsapp_contact" class="form-control" placeholder="WhatsApp Contact"
									value="{{get_setting.whatsapp_contact}}" required>
								</div>
							</div>
						</div>

						<div class="row border-bottom" style="padding-top: 1rem;">
							<div class="col-sm">
								<label>Reservation amount</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-wallet"></i></span>
									</div>
									<input type="number" name="reservation_amount" class="form-control" placeholder="Reservation amount"
									value="{{get_setting.reservation_amount}}" required>
								</div>
							</div>
						</div>

						<div class="row border-bottom" style="padding-top: 1rem;">
							<div class="col-sm">
								<label>E-Mail Contact</label>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-envelope"></i></span>
									</div>
									<input type="email" name="email_contact" class="form-control" placeholder="E-Mail Contact"
									value="{{get_setting.email_contact}}" required>
								</div>
							</div>
						</div>

						<div class="row border-bottom">
					        <div class="col-md-12">
					          <div class="card card-outline card-info">
					            <div class="card-header">
					              <h3 class="card-title">
					                Airtime note
					              </h3>
					              <!-- tools box -->
					              <div class="card-tools">
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                        title="Collapse">
					                  <i class="fas fa-minus"></i></button>
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                        title="Remove">
					                  <i class="fas fa-times"></i></button>
					              </div>
					              <!-- /. tools -->
					            </div>
					            <!-- /.card-header -->
					            <div class="card-body pad">
					              	<div class="mb-3">
					                	<textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="airtime_note">
					                		{{get_setting.airtime_note|safe}}
					                	</textarea>
					              	</div>
					            </div>
					          </div>
					        </div>
					    </div>

						<div class="row border-bottom">
					        <div class="col-md-12">
					          <div class="card card-outline card-info">
					            <div class="card-header">
					              <h3 class="card-title">
					                Data note
					              </h3>
					              <!-- tools box -->
					              <div class="card-tools">
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                        title="Collapse">
					                  <i class="fas fa-minus"></i></button>
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                        title="Remove">
					                  <i class="fas fa-times"></i></button>
					              </div>
					              <!-- /. tools -->
					            </div>
					            <!-- /.card-header -->
					            <div class="card-body pad">
					              	<div class="mb-3">
					                	<textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="data_note">
					                		{{get_setting.data_note|safe}}
					                	</textarea>
					              	</div>
					            </div>
					          </div>
					        </div>
					    </div>

						<div class="row border-bottom">
					        <div class="col-md-12">
					          <div class="card card-outline card-info">
					            <div class="card-header">
					              <h3 class="card-title">
					                Withdrawal note
					              </h3>
					              <!-- tools box -->
					              <div class="card-tools">
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                        title="Collapse">
					                  <i class="fas fa-minus"></i></button>
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                        title="Remove">
					                  <i class="fas fa-times"></i></button>
					              </div>
					              <!-- /. tools -->
					            </div>
					            <!-- /.card-header -->
					            <div class="card-body pad">
					              	<div class="mb-3">
					                	<textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="withdrawal_note">
					                		{{get_setting.withdrawal_note|safe}}
					                	</textarea>
					              	</div>
					            </div>
					          </div>
					        </div>
					    </div>

						<div class="row">
					        <div class="col-md-12">
					          <div class="card card-outline card-info">
					            <div class="card-header">
					              <h3 class="card-title">
					                How To
					              </h3>
					              <!-- tools box -->
					              <div class="card-tools">
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                        title="Collapse">
					                  <i class="fas fa-minus"></i></button>
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                        title="Remove">
					                  <i class="fas fa-times"></i></button>
					              </div>
					              <!-- /. tools -->
					            </div>
					            <!-- /.card-header -->
					            <div class="card-body pad">
					              	<div class="mb-3">
					                	<textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="how_to">
					                		{{get_setting.how_to|safe}}
					                	</textarea>
					              	</div>
					            </div>
					          </div>
					        </div>
					    </div>

			     		<div class="row">
				          	<div class="col-md-12">
					            <div class="card card-outline card-info">
					              <div class="card-header">
					                <h3 class="card-title">
					    				Terms of Use
					                </h3>
					                <div class="card-tools">
					                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                          title="Collapse">
					                    <i class="fas fa-minus"></i></button>
					                  <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                          title="Remove">
					                    <i class="fas fa-times"></i></button>
					                </div>
					              </div>

					              <div class="card-body pad">
					                <div class="mb-3">
					                  <textarea class="textarea" placeholder="Place some text here"
					                            style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="terms_of_use">{{get_setting.terms_of_use|safe}}</textarea>
					                </div>
					              </div>
					            </div>
					          </div>
				      	</div>

					    <div class="row">
					        <div class="col-md-12">
					          <div class="card card-outline card-info">
					            <div class="card-header">
					              <h3 class="card-title">
					  				About Us
					              </h3>
					              <!-- tools box -->
					              <div class="card-tools">
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
					                        title="Collapse">
					                  <i class="fas fa-minus"></i></button>
					                <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
					                        title="Remove">
					                  <i class="fas fa-times"></i></button>
					              </div>
					              <!-- /. tools -->
					            </div>
					            <!-- /.card-header -->
					            <div class="card-body pad">
					              <div class="mb-3">
					                <textarea class="textarea" placeholder="Place some text here"
					                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" name="about_us">{{get_setting.about_us|safe}}</textarea>
					              </div>
					            </div>
					          </div>
					        </div>
					    </div>
					</div>

					<div class="card-footer" style="text-align: center">
						<button type="submit" class="btn btn-primary">Save Settings</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="row connectedSortable">
				<div class="col-sm-12">
					<div class="card card-success">
						<div class="card-header">
							<h3 class="card-title">New Network</h3>
						</div>
						<form method="post">
							{% csrf_token %}
	
							<div class="card-body">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><span><i class="fab fa-intercom"></i></span>
									</div>
									<input type="text" name="network" class="form-control" placeholder="Network" required>
								</div>

								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-receipt"></i></span>
									</div>
									<input type="number" name="data_rate" class="form-control" placeholder="Data Rate" required>
								</div>
							</div>
							<div class="card-footer" style="text-align: center;">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="row connectedSortable">
				<div class="col-sm-12">
					<div class="card card-success">
						<div class="card-header">
							<h3 class="card-title">Networks</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive" style="height: 18rem;">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                    	<th>ID</th>
                                    	<th>Network</th>
                                    	<th>Data rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% if all_networks %}
                                		{% for network in all_networks %}
                                			<tr>
	                                			<td>{{forloop.counter}}</td>
	                                			<td>{{network.network}}</td>
	                                			<td>{{network.data_rate}}</td>
	                                		</tr>
                                		{% endfor %}
                                	{% endif %}
                                </tbody>
                              </table>
                          </div>
						</div>
					</div>
				</div>
			</div>


			<div class="row connectedSortable">
				<div class="col-sm-12">
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">New Bank</h3>
						</div>
						<form method="post">
							{% csrf_token %}
	
							<div class="card-body">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-money-check"></i></span>
									</div>
									<input type="text" name="bank" class="form-control" placeholder="Bank" required>
								</div>
							</div>
							<div class="card-footer" style="text-align: center;">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="row connectedSortable">
				<div class="col-sm-12">
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">Banks</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive" style="height: 18rem;">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                    	<th>ID</th>
                                    	<th>Bank</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	{% if all_banks %}
                                		{% for bank in all_banks %}
                                			<tr>
	                                			<td>{{forloop.counter}}</td>
	                                			<td>{{bank.bank}}</td>
	                                		</tr>
                                		{% endfor %}
                                	{% endif %}
                                </tbody>
                              </table>
                          </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extra_scripts %}
	<!-- Summernote -->
	<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
	<script>
	  $(function () {
	    // Summernote
	    $('.textarea').summernote()
	  })
	</script>
{% endblock %}
