{% extends 'Home/base.html' %}

{% load static %}


{% block title %}
	<title>Buy Data</title>
{% endblock %}


{% block page_header %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Data</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home:account_user_data' %}">Data</a></li>
              <li class="breadcrumb-item active">Data</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% endblock %}


{% block main_content %}
	<div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
              <div class="inner">
                  <h3>0</h3>
                  <p>My Codes</p>
              </div>
            <div class="icon">
              <i class="ion fas fa-gifts"></i>
            </div>
            <a href="{% url 'Home:account_code' %}" class="small-box-footer">More info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>&#8358; {{user_wallet.wallet_balance}}</h3>
              <p>Wallet Balance</p>
            </div>
            <div class="icon">
              <i class="ion fas fa-wallet"></i>
            </div>
            <a href="{% url 'Home:account_users_wallet' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
    	<!-- ./col -->
    	<div class="col-lg-6 col-12">
            <div class="card callout callout-info">
              	<!-- /.card-header -->
              	<div class="card-header">
              		<small class="card-title">Notice</small>
              	</div>
            	<div class="card-body">
                	<p class="card-text">
            			After your code request has been sent, you will get your recharge right away
            			and you wallet balance will be deducted.
                	</p>
                </div>
            </div>
        <!-- /.card -->
    	</div>
	</div>
{% endblock %}


{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
          	<div class="col-md-4 connectedSortable">
              {% for message in messages %}
                <div class="alert alert-warning">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
              {% endfor %}
              
	            <div class="card card-primary">
	              	<div class="card-header">
	                	<h3 class="card-title">Buy Data</h3>
	              	</div>

	              	<form role="form" method='POST'>
	              	    {% csrf_token %}

	                	<div class="card-body">
	                	    <div class="form-group">
	                	        <label for="id_code_group">Network Provider</label></th><td>
    		            			<select name="network" required id="id_code_group" class="form-control">
    			                        <option value="">-- Network Provider --</option>
    			                        {% for network in networks %}
    				                        	<option value="{{network}}">{{network}}</option>
    				                    {% endfor %}
    		                        </select>
    		                    </label>
	                	    </div>
		                	<div class="form-group">
			                  	<label>Phone</label>
			                  	<div class="input-group">
				                    <div class="input-group-prepend">
				                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
				                    </div>
			                    	<input type="text" class="form-control bfh-phone" name="phone_number" required id="phone-number" placeholder="08012345678">
			                  	</div>
		                	</div>
		                	<div class="form-group">
			                  	<label>Quantity (MG - MegaByte)</label>
			                  	<!-- {% if amount_error %}
                          {% else %}
                            <small>Not sufficient funds</small>
                          {% endif %} -->
			                  	<div class="input-group">
				                    <div class="input-group-prepend">
				                      <span class="input-group-text"><i class="fas fa-internet"></i></span>
				                    </div>
			                    	<input type="number" class="form-control bfh-phone" name="amount" required id="amount-number" placeholder="100">
			                  	</div>
		                	</div>
		                </div>

			            <div class="card-footer" style="text-align: center;">
		                  <button type="submit" class="btn btn-primary">Buy</button>
		                </div>
		            </form>
	            </div>
	            <!-- /.card -->
        	</div>

          	<div class="col-md-8 connectedSortable">
            	<div class="row">
					<div class="col connectedSortable">
						<div class="card">
							<div class="card-header border-transparent">
						        <h3 class="card-title">Orders</h3>

						        <div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
						            	<i class="fas fa-minus"></i>
						          	</button>
						            <button type="button" class="btn btn-tool" data-card-widget="remove">
						            	<i class="fas fa-times"></i>
						        	</button>
						        </div>
						  	</div>

						    <div class="card-body p-0">
                  <div class="table-responsive" style="height: 18rem;">
                    <table class="table m-0">
                        <thead>
                            <tr>
                              <th>ID</th>
                              <th>Transaction</th>
                              <th>Amount</th>
                              <th>Recipient</th>
                              <th>Description</th>
                              <th>Status</th>
                              {% if user.is_superuser %}
                                <th>Toggle</th>
                              {% endif %}
                              <th>Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if orders %}
                              {% for order in orders %}
                                <div class="modal fade" id="confirmToggle">
                                  <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Confirm Request</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          {% if order.status == 'Pending' %}
                                            <p>Are you sure you want to approve this order?</p>
                                          {% else %}
                                            <p>Are you sure you want to decline this order?</p>
                                          {% endif %}
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                          <a href="{% url 'Home:toggle_order' order.id %}" class="btn btn-primary btn-success" data-dismiss="modal">Yes</a>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                  </div>
                                  <!-- /.modal-dialog -->
                              </div>

                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{order.transaction}}</td>
                                  <td>{{order.amount}}</td>
                                  <td>{{order.recipient}}</td>
                                  <td>{{order.description}}</td>
                                  <td>
                                    <span class="badge badge-info">
                                      {{order.status}}
                                    </span>
                                  </td>
                                  {% if user.is_superuser %}
                                    <td>
                                      {% if order.status == 'Pending' %}
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmToggle">Approve</button>
                                      {% else %}
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmToggle">Decline</button>
                                      {% endif %}
                                    </td>
                                  {% endif %}
                                  <td>{{order.date}}</td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                    </table>
                  </div>
                </div>

						    <div class="card-footer">
                  <a href="{% url 'Home:show_all_orders' %}" class="btn btn-primary float-sm-right">View orders</a>
                </div>
						    
	          	</div>
		        </div>
			    </div>
		    </div>
		</div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
          	<div class="col-md connectedSortable">
            	<div class="row">
					<div class="col connectedSortable">
						<div class="card">
							<div class="card-header border-transparent">
						        <h3 class="card-title">Account History</h3>

						        <div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
						            	<i class="fas fa-minus"></i>
						          	</button>
						            <button type="button" class="btn btn-tool" data-card-widget="remove">
						            	<i class="fas fa-times"></i>
						        	</button>
						        </div>
						  	</div>

						    <div class="card-body p-0">
							    <div class="table-responsive">
						    		<table class="table m-0">
						        		<thead>
								            <tr>
								            	<th>ID</th>
								            	<th>Description</th>
								            	<th>Amount</th>
								            	<th>Charges</th>
								            	<th>Status</th>
								            	<th>Date</th>
								            </tr>
							            </thead>
							            <tbody>
							            	<!-- Account History -->
							            	{% for history in user_history_truncate %}
    													<tr>
    														<td>{{forloop.counter}}</td>
    														<td>{{history.description}}</td>
    														<td>{{history.amount}}</td>
    														<td>{{history.charges}}</td>
    														{% if history.status %}
    															<td>
    																<span class="badge badge-success">
    										            				Approved
    										            			</span>
    										            		</td>
    														{% else %}
    															<td>
    																<span class="badge badge-danger">
    										            				Declined
    										            			</span>
    										            		</td>
    														{% endif %}
    														<td>{{history.date}}</td>
    													</tr>
							            	{% endfor %}
							            </tbody>
						        	</table>
							    </div>
						    </div>
			          	</div>
			        </div>
			    </div>
		    </div>
		</div>
    </div>
</section>


{% endblock %}
