{% extends 'Home/base.html' %}

{% load static %}


{% block title %}
	<title>Dashboard</title>
{% endblock %}


{% block main_content %}
	<div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
              <div class="inner">
                  <h3>0</h3>
                  <p>My Codes</p>
              </div>
            <div class="icon">
              <i class="ion fas fa-gifts"></i>
            </div>
            <a href="{% url 'Home:account_code' %}" class="small-box-footer">More info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>&#8358; {{user_wallet.wallet_balance}}</h3>
              <p>Wallet Balance</p>
            </div>
            <div class="icon">
              <i class="ion fas fa-wallet"></i>
            </div>
            <a href="{% url 'Home:account_users_wallet' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
    	<!-- ./col -->
	</div>
	<div class="row">
		<div class="col connectedSortable">
			<div class="card">
				<div class="card-header border-transparent">
			        <h3 class="card-title">Account History</h3>

			        <div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
			            	<i class="fas fa-minus"></i>
			          	</button>
			            <button type="button" class="btn btn-tool" data-card-widget="remove">
			            	<i class="fas fa-times"></i>
			        	</button>
			        </div>
			  	</div>

			    <div class="card-body p-0">
				    <div class="table-responsive">
			    		<table class="table m-0">
			        		<thead>
					            <tr>
					            	<th>ID</th>
					            	<th>Description</th>
					            	<th>Amount</th>
					            	<th>Charges</th>
					            	<th>Status</th>
					            	<th>Date</th>
					            </tr>
				            </thead>
				            <tbody>
				            	<!-- Account History -->
				            	{% if user_history_truncate %}
					            	{% for history in user_history_truncate %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{history.description}}</td>
											<td>{{history.amount}}</td>
											<td>{{history.charges}}</td>
											{% if history.status %}
												<td>
													<span class="badge badge-success">
							            				Approved
							            			</span>
							            		</td>
											{% else %}
												<td>
													<span class="badge badge-danger">
							            				Declined
							            			</span>
							            		</td>
											{% endif %}
											<td>{{history.date}}</td>
										</tr>
					            	{% endfor %}
					            {% endif %}
				            </tbody>
			        	</table>
				    </div>
			    </div>
			</div>
		</div>
    </div>

{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-6">

		</div>
	</div>

{% endblock %}