{% extends 'Home/base.html' %}

{% load static %}

{% block extras_styles %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block title %}
  {% if user.is_staff %}
    <title>Users</title>
  {% else %}
    <title>User</title>
  {% endif %}
{% endblock %}


{% block page_header %}
  {% if user.is_staff %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Users</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'Home:account_users_wallet' %}">Users</a></li>
                <li class="breadcrumb-item active">Users</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
  {% else %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">User</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'Home:account_users_wallet' %}">User</a></li>
                <li class="breadcrumb-item active">User</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
  {% endif %}
{% endblock %}


{% block content %}
  <div class="container">
    {% if user.is_staff %}
      <div class="row">
        <div class="col-md">
          <div class="card callout callout-info">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-user"></i>
                Users
              </h3>
            </div>
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>s/n</th>
                    <th>Referrence ID</th>
                    <th>Full name</th>
                    <th>Username</th>
                    <th>E-Mail</th>
                    <th>Location</th>
                    {% if user.is_superuser %}
                        <th>Permission</th>
                    {% endif %}
                    <th>Date Joined</th>
                    <th>Wallet Balance</th>
                  </tr>
                </thead>
                <tbody>
                  {% for a_user in users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{a_user.profile.reference_id}}</td>
                        <td>{{a_user.get_full_name}}</td>
                        <td>{{a_user.username}}</td>
                        <td>{{a_user.email}}</td>
                        <td>{{a_user.profile.state}}</td>
                        {% if user.is_superuser %}
                            <td>
                                {% if a_user.is_staff %}
                                    <a href="{% url 'Home:toggle_permission' a_user.id %}"><button class="btn btn-sm btn-danger">Restrict</button></a>
                                {% else %}
                                    <a href="{% url 'Home:toggle_permission' a_user.id %}"><button class="btn btn-sm btn-info">Authorize</button></a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>{{a_user.date_joined}}</td>
                        <td>&#8358; {{a_user.wallet.wallet_balance}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12 float-sm-right">
                        <label class="float-sm-right">Total Balance <b>&#8358; {{total_amount}}</b></label>
                    </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md">
          <div class="card callout callout-info">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-user"></i>
                User
              </h3>
            </div>
            <div class="card-body table-responsive p-0" style="height: 21rem;">
              <table class="table table-head-fixed text-wrap">
                <thead>
                  <tr>
                    <th>s/n</th>
                    <th>Referrence ID</th>
                    <th>Full name</th>
                    <th>Username</th>
                    <th>E-Mail</th>
                    <th>Location</th>
                    <th>Date Joined</th>
                    <th>Wallet Balance</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{user.profile.reference_id}}</td>
                      <td>{{user.get_full_name}}</td>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.profile.state}}</td>
                      <td>{{user.date_joined}}</td>
                      <td>&#8358; {{user.wallet.wallet_balance}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
