{% extends 'Home/base.html' %}


{% load static %}

<link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">


{% block title %}
	<title>Codes</title>
{% endblock %}


{% block page_header %}
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Codes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'Home:code_group_codes' group.id %}">Codes</a></li>
              <li class="breadcrumb-item active">Codes</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-12 connectedSortable">
      <div class="card">
        <div class="card-header border-transparent">
              <h3 class="card-title">Codes</h3>

              <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
              </div>
          </div>

          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date Issued</th>
                        <th>Expiry Date</th>
                        <th>Toggle</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if code_group_children %}
                        {% for code in code_group_children %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'Home:account_code_details' code.id %}">{{code.code}}</a></td>
                            <td>&#8358; {{code.amount}}</td>
                            {% if code.status %}
                              <td>
                                <span class="badge badge-success">
                                  A
                                </span>
                              </td>
                            {% else %}
                              <td>
                                <span class="badge badge-danger">
                                  N/A
                                </span>
                              </td>
                            {% endif %}
                            <td>{{code.date_created}}</td>
                            <td>{{code.expiry_date}}</td>
                            {% if code.status %}
                              <td>
                                <a href="{% url 'Home:account_code_toggle' code.id %}" class="btn btn-sm btn-success">Disable</a>
                              </td>
                            {% else %}
                              <td>
                                <a href="{% url 'Home:account_code_toggle' code.id %}" class="btn btn-sm btn-success">Enable</a>
                              </td>
                            {% endif %}
                            <td><a href="{% url 'Home:account_code_delete' code.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                          </tr>
                      {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
          </div>

          <div class="card-footer clearfix">
              <a href="{% url 'Home:account_code_request' %}" class="btn btn-sm btn-info float-left">Generate New Code</a>
              <a href="{% url 'Home:account_code' %}" class="btn btn-sm btn-secondary float-right">View All Codes</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
