<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <title>Blog | Amisa360</title>

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/all.css' %}">
  </head>
  <body>
    <!--<nav class="custom-navbar" style="background-image: url('{% static 'img/dev-1.png' %}'); background-repeat: no-repeat; background-size: cover;">
      <div class="nav-wrapper container">
        <a href="{% url 'blog:blog' %}" class="brand-logo">Amisa360</a>
        <a
          href="#"
          data-target="mobile"
          class="sidenav-trigger"
        >
          <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Accounts</a></li>
          <li><a href="#">New Letters</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav grey darken-4" id="mobile" style="background-image: url('{% static 'img/dev-1.png' %}'); background-repeat: no-repeat; background-size: cover;">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="{% static 'img/office.jpg' %}">
          </div>
          <a href="#user"><img class="circle" src="{% static 'img/yuna.jpg' %}"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li><a class="white-text waves-effect dark-waves" href="#">Home</a></li>
      <li><a class="white-text waves-effect dark-waves" href="#">News</a></li>
      <li><a class="white-text waves-effect dark-waves" href="#">Accounts</a></li>
      <li><a class="white-text waves-effect dark-waves" href="#">News letters</a></li>
    </ul>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large modal-trigger blue darken-4" href="#chat">
        <i class="fas fa-robot"></i>
      </a>

      <div id="chat" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
  -->

  <h1>DONE</h1>

    <script type="text/javascript" src="{% static 'dist/js/materialize.min.js' %}"></script>
    <script type="text/javascript">
      M.AutoInit()
    </script>
  </body>
</html>
