{% extends "blog/base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col s12 m12 l12">
        <h2>We'd like to here from you ...</h2>
      </div>

      <div class="col s12 m12 l12 my-1">
        <input type="text" placeholder="Title" name="title" class="bg-gray-300 p-1 w-full" required>
      </div>

      <div class="col s12 m12 l12 my-1">
        <textarea class="bg-gray-300 p-1 w-full max-h-32 min-h-0" placeholder="Content" name="content" required></textarea>
      </div>

      <div class="col s12 m12 l12">
        <button type="submit" class="p-2 bg-blue-500 text-white font-bold hover:bg-blue-600">submit</button>
      </div>
    </div>
  </form>

  <div>
    {% for post in posts %}
      {% include 'blog/components/postCard.html' %}
    {% endfor %}
  </div>    
{% endblock content %}
