{% load humanize %}

<div class="p-2">
	{% for comment in post.comments.all %}
		<div class="border-blue-400 border-l-8 my-2">
			<div class="w-full p-1 bg-gray-300">
				<label>{{ comment.comment_author.username }}</label>
				<label class="float-right text-gray-400 italic">{{ comment.date|timesince }} ago | {{ comment.date|date }}</label>
			</div>

			<div class="p-5">
				<p class="break-words">
					{{ comment.comment|safe }}
				</p>
			</div>

			<div class="w-full h-2 bg-gray-300 p-3">
			</div>
		</div>
	{% endfor %}
</div>
