<!DOCTYPE html>
<html>
	{% load static %}

	<head>
		<title>Amisa360 | Home</title>

		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/materialize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/materialize-input.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/layout.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dist/css/index.css' %}">
	</head>
	<body>
		<div class="navbar-fixed">
			<nav class="blue darken-4">
			  <div class="nav-wrapper container transparent">
			    <a href="#" class="brand-logo">
			    	<img class="img-responsive" src="{% static 'img/logo-2.png' %}">
			    </a>
			    <ul id="nav-mobile" class="right hide-on-med-and-down">
				    <li><a href="#intro">Home</a></li>
				    <li><a href="#about">About</a></li>
				    <li><a href="#services">Services</a></li>
				    <li><a href="#investors">Investors</a></li>
				    <li><a href="#contact">Contact</a></li>
			    </ul>
			  </div>
			</nav>
		</div>

		<!-- company intro -->

		<div id="intro" class="company-intro-s section scrollspy center-align">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12">
						<img src="{% static 'img/logo.png' %}">
					</div>

					<div class="col s12 m12 l12">
						<a href="{% url 'Home:account_signin' %}">
							<button class="btn btn-large waves-effect waves-dark blue darken-4">
								Get Started
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- company intro -->

		<div class="container">
			<!-- about -->

			<div id="about" class="section scrollspy">
				<div class="container center center-align">
					<h3 class="blue-text">About Us</h3>
					<div class="divider"></div>
					<div class="section-divider blue darken-4"></div>
				</div>

				<div class="row">
					<div class="col s12 m7 l7">
						{{ get_settings.about_us|safe }}
					</div>

					<div class="col s12 m5 l5">
						{% include 'components/amisa-card-front.html' %}
					</div>
				</div>
			</div>

			<!-- about -->

			<!-- services -->

			<div id="services" class="services section scrollspy">
				<div class="container center center-align">
					<h3 class="blue-text">Services</h3>
					<div class="divider"></div>
					<div class="section-divider blue darken-4"></div>
				</div>

				<div class="row">
					<div class="col s12 m12 l12 center">
						<label style="text-transform: uppercase; font-size: 2em;">Redemption of AmisaCards</label>
						<p>As our customer, redeem your AmisaCards @ ZERO charges</p>
					</div>

					<div class="col s12 m12 l12">
						<label style="text-transform: uppercase; font-size: 1em;">packages</label>
						<p>
							... data plans, airtime topups, withdrawals to 
							your choice of bank all at affordable rates
							using your AmisaCards Savings
						</p>
						<br>
						<div class="row">
							<!-- mobile networks -->

							<div class="col s6 m3 l3">
								<img src="{% static 'img/mtn.png' %}" class="img-responsive z-depth-5 hoverable">
							</div>

							<div class="col s6 m3 l3">
								<img src="{% static 'img/glo.png' %}" class="img-responsive z-depth-5 hoverable">
							</div>

							<div class="col s6 m3 l3">
								<img src="{% static 'img/airtel.png' %}" class="img-responsive z-depth-5 hoverable">
							</div>

							<div class="col s6 m3 l3">
								<img src="{% static 'img/9mobile.jpeg' %}" class="img-responsive z-depth-5 hoverable">
							</div>
						</div>
						<div class="row">
							<!-- banks -->

							<div class="col s6 m4 l4">
								<img src="{% static 'img/access.png' %}" class="img-responsive z-depth-5 hoverable">
							</div>

							<div class="col s6 m4 l4">
								<img src="{% static 'img/first-bank.png' %}" class="img-responsive z-depth-5 hoverable">
							</div>

							<div class="col s6 m4 l4">
								<img src="{% static 'img/gtbank.jpeg' %}" class="img-responsive z-depth-5 hoverable">
							</div>
						</div>

						<div class="row">
							<div class="col s12 m12 l12 center">
								<h5>
								 	<i class="fas fa-quote-left"></i>
									Our customer relationship team is always available
									for you at all time
									<i class="fas fa-quote-right"></i>
								</h5>
								<i>CEO</i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- services -->

			<!-- investors -->

			<div id="investors" class="section scrollspy">
				<div class="container center center-align">
					<h3 class="blue-text">Investors</h3>
					<div class="divider"></div>
					<div class="section-divider blue darken-4"></div>
				</div>

				<div class="row">
					<div class="col s12 m12 l12 center">
						We will be happier if you can invest and partner with us.
						Click <a href="#">invest</a><br>
						<img src="{% static 'img/avatar.png' %}" class="circle black darken-4 img-responsive">
						<br><h5><i class="center">CEO</i></h5>
					</div>
				</div>
			</div>

			<!-- investors -->

			<!-- contact address -->

			<div id="contact" class="section scrollspy">
				<div class="container center center-align">
					<h3 class="blue-text">Contact</h3>
					<div class="divider"></div>
					<div class="section-divider blue darken-4"></div>
				</div>

				<div class="row container center">
					<div class="col s12 m12 l12">
						<form method="post">
							{% csrf_token %}

							<div class="row">
								<div class="col s12 m12 l12 input-field">
									<input type="text" name="full_name" placeholder="Full name" />
								</div>

								<div class="col s12 m12 l12 input-field">
									<input type="email" name="email" placeholder="E-Mail" />
								</div>

								<div class="col s12 m12 l12 input-field">
									<textarea
										class="materialize-textarea"
										placeholder="Let us know what you're think ..."
									></textarea>
								</div>

								<button
									class="btn btn-large blue darken-4 col offset-s4 s4 col offset-s4 col offset-m4 m4 col offset-m4 col offset-l4 l4 col offset-l4"
									type="submit"
								>SEND</button>
						</form>
					</div>

					<div class="col s12 m12 l12">
						<div class="row">
							<!-- whatsapp -->
							<div class="col s4 m4 l4">
								<a href="#">
									<button class="btn btn-floating hoverable blue darken-4">
										<i class="fab fa-whatsapp"></i>
									</button>
								</a>
							</div>

							<!-- call -->
							<div class="col s4 m4 l4">
								<a href="#">
									<button class="btn btn-floating hoverable blue darken-4">
										<i class="fas fa-phone"></i>
									</button>
								</a>
							</div>

							<!-- email -->
							<div class="col s4 m4 l4">
								<a href="#">
									<button class="btn btn-floating hoverable blue darken-4">
										<i class="fas fa-envelope"></i>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="page-footer blue darken-4">
		    <div class="row container">
		      	<div class="col l6 s12">
		        	<h5 class="white-text">Amisa360</h5>
		        	<p class="grey-text text-lighten-4">
		        		Amisa, AmisaCards and <a href="#">amisa360.com</a> are owned
		        		by Amisa360 LTD.
		        	</p>
		      	</div>
			    <div class="col l4 offset-l2 s12">
			        <h5 class="white-text">Quick Links</h5>
			        <ul>
			          	<li><a class="grey-text text-lighten-3" href="#!">How to</a></li>
			          	<li><a class="grey-text text-lighten-3" href="#!">Redemption</a></li>
			          	<li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
			          	<li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
			          	<li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
			        </ul>
			    </div>
		    </div>

		  	<div class="footer-copyright">
			    <div class="container">
				    © <span id="date"></span> Copyright
			    </div>
			</div>
		</footer>

		<script type="text/javascript" src="{% static 'dist/js/materialize.min.js' %}"></script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('.scrollspy');
			    const options = {}
			    var instances = M.ScrollSpy.init(elems, options);
			});

			document.getElementById("date").innerHTML = new Date().getFullYear();
		</script>
	</body>
</html>
