{% extends 'components/amisa-card-base.html' %}
{% load static %}

{% block card_content %}
	<div class="row">
		<div class="col s4 m4 l4">
			<img src="{% static 'img/logo-2.png' %}">
		</div>

		<div class="col s8 m8 l8">
			<p class="amount">&#8358; 20</p>
		</div>
		
		<div class="col s12 m12 l12">
			<div class="center">
				<p class="title">
					AMISACARD
					<p class="description">The CashCard Scheme</p>
				</p>
			</div>
		</div>

		<div class="col s12 m12 l12 white blue-text text-darken-4 center">
			<p>Online Redemption is Required</p>
		</div>
	</div>
{% endblock %}
